.about-me {
  text-align: left;
  padding-top: 50px;
}
.about-me h1 {
  font-size: 64px;
  padding-top: 60px;
}
.about-me h2 {
  font-size: 20px;
  font-family: var(--default-font);
  font-weight: normal;
  line-height: 2;
}

.about-me-text {
  font-size: 16px;
  line-height: 35px;
  font-weight: normal;
  text-align: justify;
}

.about-me img {
  padding-left: 20px;
  border-radius: 4px;
}
.about-me-links {
  display: flex;
  justify-content: space-evenly;
}

.about-me .intro-links {
  font-size: 18px;
}

#contact {
  margin-top: 0px;
  text-align: center;
}
#contact .secondary-title {
  font-family: var(--heading-font);
  font-size: 55px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.skills {
  display: block;
  margin: 0 auto;
}
.skill-title {
  font-size: 20px;
}
#contact .row {
  padding-left: 20px;
  line-height: 20px;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}
#contact .row i {
  font-size: 30px;
}
.icn {
  transition: all 150ms ease-in-out;
}
.icn:hover {
  transform: scale(1.2);
}
.react {
  color: #60d7f9;
  transition: all 150ms ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: react-logo-spin infinite 20s linear;
  }
}
@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react:hover {
  transform: scale(1.2);
}
.js {
  color: #eed919;
}
.bootstrap {
  color: #b28eff;
}
.responsive {
  height: 35px;
  width: 35px;
  line-height: 1;
}
.git {
  color: #f05133;
}

@media (max-width: 830px) {
  .about-me h1 {
    padding-top: 0px;
  }
  .about-me h1,
  h2 {
    text-align: center;
  }

  .about-me p {
    padding: 0 10 0 0px;
    font-size: 16px;
  }
  .about-me .intro-links a {
    font-size: 18px;
    /* margin-left: 10px; */
  }

  #contact {
    padding: 0 0px 0 0px;
  }
  #contact .secondary-title {
    text-align: center;
    width: 500px;
    max-width: 100%;
    line-height: 60px;
    margin-bottom: 40px;
    font-size: 40px;
  }

  #contact .email {
    font-size: 18px;
  }
}
