/* font-family: 'Bitter', serif;
font-family: 'Fira Code', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #003348;
  --secondary-color: #e3f7ff;
  --navigation-color: #bbd4ed;
  --btn-color: #4cb0e1;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
body {
  background: var(--primary-color);
  font-family: var(--default-font);
  color: var(--secondary-color);
}
h1,
h2 {
  font-family: var(--heading-font);
}
.App {
  text-align: center;
}

.App-logo {
  margin-top: 300px;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
