.nav-link {
  color: white;
  opacity: 0.7;
  background-color: #003348;
}
.dropdown-menu {
  background-color: #003348;
  border: none;
}
.nav-link:hover {
  /* color: var(--navigation-color); */
  transform: scale(1.1);
  opacity: 1;
}
/* .navbar-brand {
  margin-left: 80px;
}
.navbar-nav {
  padding-right: 139px;
} */

@media (max-width: 830px) {
  .navbar-brand {
    margin-left: 0px;
    padding-left: 0px;
  }
  .navbar-nav {
    padding-right: 0px;
    margin-right: 0px;
  }
  .dropdown-menu {
    text-align: center;
  }
}
